<h1>Imports</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Status</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <% @imports.each do |import| %>
      <tr>
        <td><%= import.id %></td>
        <td><%= import.status %></td>
        <td><%= import.created_at.strftime('%F %H:%M:%S') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
